*
{
  font-family: "Roboto";
}

/* Colors */

/* https: //colorhunt.co/palette/053b50176b8764ccc5eeeeee */
:root
{
  --dark-blue: #176B87
}

.btn-main
{
  color: #fff;
  background-color: var(--dark-blue);
}

/**********************************************
                    Navbar 
**********************************************/

.nav-link
{
  font-weight: 700;
}

.banner
{
  height: 724px;
  background-image: url(img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.btn-hero
{
  margin-left: 200px;
}

/* Login */
.login
{
  -webkit-box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.75);
}

.login i
{
  font-size: 7rem;
  color: var(--dark-blue);
}